/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base Styles */

.display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.display img {
    height: 17vw;
}

.display a:hover {
  opacity: 0.4;
}

.display figure {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 23vw;
    margin: 2em auto 0 auto;
    width: 20vw;
}

.display figcaption {
    color: black;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
}

footer {
  color: aliceblue;
  background-color: black;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 2em;
  padding: 0.5em 0;
  text-align: center;
}

.footer_pad {
  margin-top: 21em;
}

.article_title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 1em 0 0.3em 0;
  text-align: center;
}

#emir img {
  display: block;
  margin: 1.6em auto 0.5em auto;
  width: 15em;
}

main figcaption {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 1.8em;
  text-align: center;
}

main figcaption i {
  color: green;
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
}

main figcaption b {
  color: red;
  display: block;
  font-weight: bold;
  margin-top: 0.5em;
}

#emir_channels, #emir_blurred, #emir_edges, #lady_edges {
  margin: 1.6em 0 0 5em;
}

#emir_channels figcaption, #emir_blurred figcaption, #emir_edges figcaption, #lady_edges figcaption {
  margin-top: 0.5em;
}

#emir_edges figcaption, #lady_edges figcaption {
  margin-left: -3em;
}

#pocket_shelter img,
#qr img,
#area_map img,
#prototype img,
#ee_home img,
#ee_products img,
#ee_product img,
#ee_about img,
#ee_record img,
#ee_contact img,
#rough_schem img,
#final_schem img,
#base_dp img,
#mcu img,
#alu1 img,
#alu2 img,
#pcu1 img,
#pcu2 img,
#mc1 img,
#mc2 img,
#ir1 img,
#ir2 img,
#rb img,
#cache img,
#emir_bad_align img, 
#gaussian img, 
#emir_align img, 
#self_portrait_fixed2 img,
#ip_approach img,
#ref_movie img, 
#movie_disp img,
#movie_dims img,
#movie_bb img,
#movie_crop img,
#ee_1 img,
#ee_2 img,
#ee_3 img,
#ee_4 img,
#med_fil img,
#sr_1 img,
#sr_2 img,
#pcu_table img,
#contrast img,
#img_to_sino img,
#rec img,
#rec_w img,
#rec_plot img,
#head_3d img,
#sag_cor img,
#sag img,
#cor img,
#ee_blog img,
#mp_loop img,
#axial img,
#rend_2000 img,
#rend_400 img,
#cmd img,
#imple img,
#excep img,
#er_model img {
  display: block;
  margin: 1.4em auto 1em auto;
}

#ee_home img,
#ee_products img,
#ee_product img,
#ee_about img,
#ee_record img,
#ee_contact img,
#ee_blog img,
#ir2 img,
#movie_bb img,
#movie_crop img,
#med_fil img,
#sr_2 img,
#contrast img,
#rend_2000 img,
#rend_400 img,
#mp_loop img,
#cmd img,
#imple img {
  width: 36em;
}

#ee_home img,
#ee_products img,
#ee_product img,
#ee_about img,
#ee_record img,
#ee_contact img,
#ee_blog img {
  border: 0.1em solid black;
}

#pcu_table img,
#ip_approach img {
  width: 50em;
}

#alu2 img,
#mc2 img,
#base_dp img,
#rough_schem img,
#final_schem img,
#ref_movie img,
#movie_disp img,
#ee_2 img,
#ee_3 img,
#ee_4 img,
#rec_w img,
#sr_1 img,
#sag img,
#cor img,
#axial img {
    width: 60em;
}

#pcu2 img,  
#er_model img {
  width: 70em;
}

#movie_dims img,
#img_to_sino img,
#rec_plot img,
#pcu1 img,
#head_3d img,
#sag_cor img {
  width: 30em
}

#pocket_shelter img,
#prototype img,
#area_map img,
#ir1 img,
#mcu img,
#excep img,
#rb img,
#cache img,
#alu1 img,
#mc1 img,
#ee_1 img,
#rec img,
#gaussian img {
    width: 20em;
}

#qr img {
  width: 15em;
}

#cathedral_blurred, #self_portrait_fixed, #lady_fixed {
  margin: 1.6em 0 0 16em;
}

#cathedral_blurred figcaption, #self_portrait_fixed figcaption, #lady_fixed figcaption {
  margin-left: -14em;
  margin-top: 0.8em;
}

#sobel {
  margin: 1.6em 0 0 21.6em;
}

#sobel figcaption {
  margin-left: -19em;
  margin-top: 0.8em;
}

#sobel img {
  width: 15em;
}

#emir_resolutions {
  margin: 1.4em 0 1em 1em;
}

#emir_resolutions img {
  width: 14em;
}

#emir_resolutions figcaption {
  margin-top: 0.8em;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.results h1 {
  grid-column: 1 / -1;
}

.results img {
  display: block;
  margin: 0 auto 1.44em auto;
}

.results figcaption {
  margin: 0.5em 0 3em 2em;
}

.results u {
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

.results figcaption i {
  margin-top: 1.44em;
}

article h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

#sec_h {
    border-bottom: 0.5em double black;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3em;
}

#sec_h img {
    display: block;
    margin: 0 auto;
    width: 34em;
}

#tall_img {
  max-width: 10em;
}

#sec_h h1 {
    text-align: center;
}

#finalMovie,
#orig_movie,
.vid {
    display: block;
    margin: 2em auto;
    height: 25vw;
    width: 40vw;
}

#three_d {
    max-width: 20em;
} 

#spec_img {
  max-width: 25em;
}

main a {
  text-decoration: none;
}

header a {
  color: aliceblue;
  font-size: 2.4em;
  grid-row: 2 / 3;
  padding: 1.4em 0 0 1em;
  text-decoration: none;
}

header a:hover {
  color: hotpink;
}

#home {
  margin: 0;
}


#poisson {
  width: 43em;
  margin-left: 3em;
  margin-bottom: 1em;
}

#toy_objectives {
  width: 25em;
  margin-left: 2.5em;
  margin-bottom: 2em;
}

main li {
  margin: 0.5em 0 0.5em 2em;
}

main ol {
  list-style-type: decimal;
  margin: 1em 0;
}

main ul {
  list-style-type: circle;
  margin: 1em 0;
}


main figcaption {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.5em 0 1em 0;
  text-align: center;
}


#toy_input img,
#toy_output img {
  display: block;
  margin: 0 auto;
  width: 15em;
}

#toy_output img {
  width: 34em;
}

#pb_inputs img {
  width: 20em;
}

#pb_input img {
  height: 20em;
}

#bear_inputs img {
  display: inline;
  height: 18em;
}

#snowcat_input img {  
  display: inline;
  height: 18em;
}

#snowcat_input {
  margin-left: 15em;
}

#snowcat_input figcaption {
  margin-left: -15em;
}

#snowcat_inputs img {
  display: inline;
  height: 16em;
}

#bear_blends img {
  height: 30em;
}

#bear_blends {
  margin-left: 12em;
}

#bear_blends figcaption {
  margin-left: -12em;
}

#bear_inputs {
  margin-left: 5em;
}

#bear_inputs figcaption {
  margin-left: -5em;
}

#pb_inputs {
  margin-left: 5em;
}

#pb_input {
  margin-left: 5em;
}

#pb_inputs figcaption {
  margin-left: -4em;;
}

#pb_input figcaption {
  margin-left: -4.5em;
}

#pb_direct_blend img,
#pb_poisson_blend img {
  display: block;
  margin: 0 auto;
  width: 40em;
}

#snowcat_inputs {
  margin-left: 1em;
}

#snowcat_inputs figcaption {
  margin-left: -1em;
}

#snowcat_blends img {
  width: 33em;
}

#snowcat_blends {
  margin-left: 2em;
}

#snowcat_blends figcaption {
  margin-left: -2em;
}

#shark_input img {
  height: 20em;
}

#shark_input {
  margin-left: 2.5em;
}

#shark_input figcaption {
  margin-left: -2.5em;
}

#shark_inputs img {
  display: inline;
  height: 13em;
}

#shark_inputs {
  margin-left: 1em;
}

#shark_inputs figcaption {
  margin-left: -1em;
}

#mel_input img {
  height: 20em;
}

#mel_inputs img {
  height: 13em;
}

#mel_input {
  margin-left: 9em;
}

#mel_input figcaption {
  margin-left: -11em;
}


#mel_blends img,
#shark_blends img {
  height: 19em;
}

#pkmn_blends img {
  height: 26em;
}

#pkmn_blends {
  margin-left: 3em;
}

#pkmn_blends figcaption {
margin-left: -3em;
}

#mel_blends {
  margin-left: 1em;
}

#shark_blends,
#pkmn_blends {
  margin-left: 2em;
}

#mel_blends figcaption,
#shark_blends figcaption,
#pkmn_blends figcaption {
  margin-left: -2em;
}

#pkmn_input img {
  height: 20em;
}

#pkmn_input {
  margin-left: 3em;
}

#pkmn_inputs img {
  height: 25em;
}

#lyc, #pal {
  margin-left: 4em;
}

#beach {
  margin-left: 20em;
}

i {
  display: block;
}

.black {
  color: black;
  font-weight: normal;
}

#dtree_data {
  margin-top: 2em;
  width: 72em;
}

#dtree_res {
  display: block;
  margin: 1em auto;
  width: 36em;
}

#dtree_vis {
  display: block;
  margin: 2.4em auto 0 auto;
  width: 34em;
}

.eq {
  color: slateblue;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.8em;
  margin: 1em 0 0 3em;
}

.first {
  margin-top: 2.5em;
}

.last {
  margin-bottom: 2.5em;
}

.border {
  border: 0.08em solid black;
}

#logr_data,
#logr_sets,
#logr_feat,
#logr_plot,
#logr_res,
#ocr_data,
#ocr_dist,
#ocr_sets,
#ocr_plot,
#mc_disc,
#mc_tile,
#mc_weights,
#mc_qval,
#ocr_res,
#pt_text,
#pt_tags,
#pt_stats,
#pt_trans,
#pt_emm,
#pt_hmm,
#pt_vit_eqs,
#pt_res,
#mr_data1,
#mr_data2,
#mr_data3,
#mr_mplot,
#mr_uplot {
  display: block;
  margin: 2em auto 1em auto;
  width: 36em;
}

#logr_sets {
  width: 44em;
}

#logr_feat {
  margin-bottom: 2.4em;
  margin-top: 2.4em;
  width: 30em;
}

#logr_res {
  margin-top: 0.5em;
}

#ocr_data {
  width: 66em;
}

#ocr_dist {
  margin-top: 0.5em;
  width: 50em;
}

#mc_weights {
  margin-top: 0;
}

#mc_qval {
  width: 16em;
}

#ocr_res {
  width: 46em;
}

#pt_text,
#pt_tags,
#mr_data1,
#mr_data2,
#mr_data3 {
  border: 0.01em solid black;
  width: 64em;
}

#pt_tags {
  margin-bottom: 2.5em;
}

#pt_stats {
  width: 50em;
}

#pt_hmm {
  border: 0.01em solid black;
}

#pt_vit_eqs {
  width: 30em;
}

#pt_res {
  width: 44em;
}

#mr_data1,
#mr_data2,
#mr_data3 {
  margin-left: 2.6em;
}


#under_dev {
  border-bottom: 0.2em solid black;
  display: block;
  margin: 0 auto 3.6em auto;
  padding-bottom: 2em;
  width: 46em;
}

.ud_p {
  color: chocolate;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.2em;
  text-align: center;
}

.x {
  margin-bottom: 1.3em;
}

#subtitle {
  color: wheat;
  font-size: 2em;
  line-height: 1.2em;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-bottom: 0.6em;
  margin-top: -0.3em;
  text-align: center;
}

.hidden {
  display: none;
}

/* DCGANs &amp;CycleGANs Additional Styles */

#grumpy_cats img,
#cycle_data img,
#fire_pkmn img,
#dcgan_discr img,
#dcgan_gen img,
#dcgan_ini_out img,
#dcgan_fin_out img,
#dcgan_pkmn_out img,
#no_cycle_cons img,
#cycle_cons img,
#cycle_cons_w_wo img,
#no_cycle_cons_10k img,
#cycle_cons_10k img,
#cycle_gen img {
  display: block;
  margin: 0 auto 1em auto;
  width: 20em;
}

#grumpy_cats,
#fire_pkmn,
#dcgan_discr,
#dcgan_gen {
  margin: 2em 0 2.4em 0;
}

#cycle_data img {
  width: 30em;
}

#cycle_cons img,
#cycle_cons_w_wo img,
#no_cycle_cons_10k img,
#cycle_cons_10k img,
#no_cycle_cons img {
  width: 40em;
}

#dcgan_discr img,
#dcgan_gen img,
#cycle_gen img {
  border: 0.05em solid black;
  padding: 1em;
  width: 64em;
}

#dcgan_ini_out img,
#dcgan_fin_out img,
#dcgan_pkmn_out img {
  width: 50em;
}

#dcgan_ini_out figcaption,
#dcgan_fin_out figcaption,
#dcgan_pkmn_out figcaption {
    margin-bottom: 2em;
}

.eq {
  border: 0.1em solid black;
  display: block;
  height: 5em;
  margin: 0 auto;
}

.eq_header {
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 1em;
  text-align: center;
}

#plots {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#plots h2,
#plots p {
  grid-column: 1 / -1;
}

#plots article {
  border: 0.1em solid black;
  margin: 0.5em;
}

#plots img {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  width: 30em;
}

#top {
  margin-top: 1.4em;
}

.gif img {
  display: block;
  margin: 0 auto;
}

.bot {  
  margin-bottom: 2em;
}

.space-center {
  display: block;
  margin: 1.4em auto 0 auto;
}

.center {
  display: block;
  margin: 0 auto
}
  

/* Style Transfer Additional Styles */

#recon_input img,
#texture_input img,
#text_synth_final img {
  display: block;
  margin: 0 auto;
}

#content_recon img,
#text_synth img {
  width: 14em;
}

#cr_results,
#ts_results,
#ex_results,
#st_results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#ts_results h2,
#ex_results h2,
#cr_results h2 {
  grid-row: 1 / 2;
  text-align: center;
}

#text_synth_final img {
  width: 30em;
}

#cr_results img,
#ts_results img,
#ex_results img,
#st_results img {
  display: block;
  margin: 0 auto 1em auto;
  width: 23em;
}

.dotted {
  list-style-type: disc;
}

#ex_results {
  margin-bottom: 4em;
}

#nvc_1a,
#nvc_2a {
  margin-left: 10em;
  margin-right: 1em;
}

#nvc_1 img,
#nvc_2 img {
  width: 25em;
}


/* Toon Talker Additional Styles */

#ui,
#ui_out {
  border: 0.1em solid black;
  display: block;
  margin: 0 auto 3em auto;
  width: 60vw;
}

#ui_out {
  margin-top: 3em;
}

#ffhq,
#ffhq_out,
#finetuned,
#finetuned_out 
{
  margin-bottom: 2em;
  height: 25vw;
}

#ffhq,
#finetuned {
  margin-left: 3vw;
}

#toon,
#toonify,
#bad_toon
{
  display: block;
  margin: 0 auto 2em auto;
  width: 60vw;
}

#toonify {
  margin-top: 2em;
  width: 80vw;
}

#bad_toon 
{
  width: 40vw;
}

#w2l
{
  display: block;
  margin: 0 auto 2em auto;
  width: 30vw;
}

#w2larch
{
  display: block;
  margin: 0 auto 2em auto;
  width: 70vw;
}

#talker {
  display: block;
  margin: 0 auto;
  width: 25vw;
}

#results {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr 3fr;
  margin-bottom: 3em;
}

#results * {
  border: 0.02em solid black;
  padding: 0.5em;
  text-align: center;
}


#results h4 {
  font-size: 1.4em;
}

#r1 {  
  background-color: gray;
  color: white;
  grid-column: 1 / 4;
}

#r2 {
  background-color: gray;
  color: white;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  padding-top: 1.5em;
}

#r3, #r4, #r5 {
  background-color: lightgrey;
  color: beige;
}

#results img {
  border: none;
  display: block;
  margin: auto;
  width: 16em;
}

#results iframe {
  border: none;
  display: block;
  margin: auto;
  width: 20em;
}

#results p {
  margin: 0;
}

#i1 {
  height: 12em;
}

#i2 {
  height: 14.5em;
}

#i3 {
  height: 14.5em;
}

#i4 {
  height: 12.5em;
}

#passage {
  font-size: 0.99em;
}

.vid_out {
  display: block;
  height: 20em;
  margin: 3em auto;
  width: 40vw;
}

#talker {
  margin-top: 2em;
  width: 40vw;
  height: 40vw;
}